/* login.css */

/* --- Estilo das Estrelas --- */
.stars {
  /* CSS para o efeito de fundo de estrelas */
  background-image: radial-gradient(
      1px 1px at 20px 30px,
      #ffffff,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(1px 1px at 40px 70px, #ffffff, rgba(0, 0, 0, 0)),
    radial-gradient(1px 1px at 50px 160px, #ffffff, rgba(0, 0, 0, 0)),
    radial-gradient(1px 1px at 90px 40px, #ffffff, rgba(0, 0, 0, 0)),
    radial-gradient(1px 1px at 130px 80px, #ffffff, rgba(0, 0, 0, 0));
  background-repeat: repeat;
  background-size: 200px 200px;
  opacity: 0.15;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
}
